/* Imports */
@import "https://ellexidecodes.github.io/Discord-Themes/css/base.css";


/* Variables */

:root {
  --theme-name: "Discord Reborn";
}

  /* Dark Mode */
  .theme-dark,
  .appMount-3VJmYg {
    --primary-color: rgba(0,0,0,0.75);
    --secondary-color: rgba(0,0,0,0.6);
    --tertiary-color: rgba(0,0,0,0.4);
    --quaternary-color: rgba(0,0,0,0.7);
  }

  /* Light Mode */
  .theme-light {
    --primary-color: rgba(0,0,0,0.55);
    --secondary-color: rgba(0,0,0,0.4);
    --tertiary-color: rgba(0,0,0,0.2);
    --quaternary-color: rgba(0,0,0,0.5);
  }

/* Table of Contents 
 ============== STATIC ===============
1. Backgrund
  1.a. Main Background
  1.b. Transparency

2. User Settings

3. Chat

4. Popouts and Modals

5. @Media Edits
*/





/* 1. Background */
  /* 1.a. Main Background */
.appMount-3VJmYg::before {
  position: absolute;
  content: " ";
  height: 100%;
  width: 100%;
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

.app {
  background-color: var(--primary-color);
}

  /* 1.b. Transparency */
.layer-3QrUeG, 
.layers-3iHuyZ,
.container-2lgZY8,
.ui-standard-sidebar-view .content-region,
.channels-Ie2l6A, 
.container-PNkimc,
.members-1998pB,
.chat-3bRxxu, 
.chat-3bRxxu form, 
.content-yTz4x3,
.messagesWrapper-3lZDfY,
.noChannel-Z1DQK7,
.private-channel-call,
.video-1FfuMD,
#friends,
.appMount-3VJmYg,
.ui-standard-sidebar-view,
.ui-standard-sidebar-view .sidebar-region,
.inner-zqa7da,
.ui-standard-sidebar-view .sidebar-region .sidebar,
.userSettingsVoice-iwdUCU .media-engine-video,
.activityFeed-28jde9,
.guildsWrapper-5TJh6A,
.search .searchBarIcon-1J6sKG,
.footer-2yfCgX,
.container-1UB9sr,
.title-3qD0b-,
.header-2o-2hj,
.headerBar-UHpsPw,
.guildsWrapper-5TJh6A .guilds-1q_RqH>.guild-1EfMGQ:first-child .guildInner-3DSoA4,
.container-2Thooq,
.private-channels .search-bar,
.wrapper-2NJDcI,
.wrapper-29NfPK,
.incomingCall-14zLc,
.gameLibrary-TTDw4Y,
.paginator-166-09,
.payment-xT17Mq,
.sidebar-1-SQro,
.reactors-Blmlhw {
  background: transparent !important;
}

.typeMacOS-3EmCyP.titleBar-AC4pGV {
  background-color: var(--primary-color) !important;
}


/* 2. User Settings */
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller {
  background-color: var(--secondary-color) !important;
}

.userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
  background-color: var(--secondary-color) !important;
  border-color: transparent !important;
}



/* 3. Chat */
.search-results-wrap {
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.search-results-wrap::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
}



/* 4. Popouts & Modals */
.themedPopout-25DgLi,
.searchPopout-1vUlP3,
.menu-Sp6bN1,
.add-game-popout {
  background-image: var(--background-image) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-Sp6bN1 {
  background: var(--background-image) !important;
}

.userPopout-3XzG_A,
.create-guild-container.deprecated,
.modal-3HD5ck,
.inner-1JeGVc .root-SR8cQa,
.quickswitcher-3JagVE,
.keyboardShortcutsModal-3piNz7,
.container-2x5lvQ,
.incomingCallInner-2VmFiR,
.container-2Yth53,
.userList-1kLH8B,
.regionSelectModal-12e-57::before {
  background-image: var(--popup-background) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.regionSelectModal-12e-57::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.regionSelectModal-12e-57 {
  position: relative;
}

.container-2Yth53 {
  border-radius: 5px;
}

.userPopout-3XzG_A .header-2BwW8b,
[class*="topSection"],
.tiles-2aXG_k,
.container-2x5lvQ header,
.container-2x5lvQ section,
.regionSelectModal-12e-57 {
  background-color: var(--primary-color) !important;
}

.create-guild-container.deprecated .form.deprecated .form-inner {
  background-color: var(--quaternary-color) !important;
}

.themedPopout-25DgLi::before,
.searchPopout-1vUlP3::before,
.menu-Sp6bN1::before,
.modal-3HD5ck::before,
.quickswitcher-3JagVE::before,
.keyboardShortcutsModal-3piNz7::before,
.incomingCallInner-2VmFiR::before,
.add-game-popout::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  pointer-events: none;
}

.themedPopout-25DgLi::before {
  width: calc(100% - 4px);
  border-bottom: 2px solid var(--main-color);
  border-left: 2px solid var(--main-color);
  border-right: 2px solid var(--main-color);
}

.menu-Sp6bN1 .label-1Y-LW5,
.content-1_NQ-_,
.incomingCallInner-2VmFiR .members-2BNiuX,
.incomingCallInner-2VmFiR .subtitle-1H8FPn,
.errorState-3QMR6P {
  z-index: 1;
}

.popout-3sVMXz .themedPopout-25DgLi .header-SsaQ8X {
  background-color: var(--tertiary-color) !important;
}

.need-help-modal .header h1::after {
  left: -220px;
}



/* 5. @Media Edits */
@media only screen and (max-width: 915px) {

  .members-1998pB:hover {
    background-color: var(--primary-color) !important;
  }
}