/* Imports */
@import "https://ellexidecodes.github.io/Discord-Themes/css/base.css";


/* Variables */

:root {
  --theme-name: "Quiet";
}

  /* Dark Mode */ 
  .theme-dark,
  .appMount-3VJmYg {
    --primary-color: #19191b;
    --secondary-color: #1E1E21;
    --tertiary-color: #232327;
    --quaternary-color: #101011;
  }

  /* Light Mode */
  .theme-light {
    --primary-color: #ffffff;
    --secondary-color: #f3f3f3;
    --tertiary-color: #eeeeee;
    --quaternary-color: #dbdbdb;
  }

/* Table of Contents
 1. Title Bar

 2. Chat Header
  2.a. Headers
  2.b. Search Bars

 3. User Settings

 4. Guilds Wrapper

 5. Channels

 6. Account Area

 7. Members List

 8. Chat

 9. Friends List

 10. Games Tab

 11. Popouts

 12. Modals
*/





/* 1. Title Bar */
.appMount-3VJmYg {
  background-color: var(--quaternary-color) !important;
}

/* 2. Chat Header */
  /* 2.a. Headers */
.title-3qD0b-,
.header-2o-2hj,
.headerBar-UHpsPw {
  background: var(--quaternary-color) !important;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH>.guild-1EfMGQ:first-child .guildInner-3DSoA4 {
  background-color: var(--quaternary-color) !important;
}

  /* 2.b. Search Bars */
.search .searchBarIcon-1J6sKG {
  background-color: var(--quaternary-color);
}

.private-channels .search-bar {
  background: var(--quaternary-color);
}



/* 3. User Settings */
.ui-standard-sidebar-view .sidebar-region .sidebar,
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller {
  background-color: var(--quaternary-color) !important;
}

.ui-standard-sidebar-view .content-region {
  background-color: var(--primary-color) !important;
}

.wrapper-3jrx9n {
  border-color: var(--main-color);
}

.selected-mKYnfr.option-n0icdO {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.option-n0icdO:hover {
  background-color: var(--hover-color)
}

.paginator-166-09 {
  background: var(--tertiary-color) !important;
}


/* 4. Guilds Wrapper */
.guildsWrapper-5TJh6A {
  background-color: var(--quaternary-color) !important;
}



/* 5. Channels */
.channels-Ie2l6A, 
.container-PNkimc {
  background-color: var(--primary-color)
}

.wrapper-2NJDcI {
  background-color: var(--primary-color) !important;
}


/* 6. Account Area */
.container-2Thooq {
  background: var(--secondary-color) !important;
}



/* 7. Members List */
.members-1998pB {
  background-color: var(--primary-color) !important;
}



/* 8. Chat */
.chat-3bRxxu, 
.chat-3bRxxu form, 
.content-yTz4x3,
.messagesWrapper-3lZDfY,
.noChannel-Z1DQK7 {
  background-color: var(--primary-color) !important;
}

.private-channel-call,
.video-1FfuMD {
  background-color: var(--quaternary-color) !important;
}

.inner-zqa7da {
  background-color: var(--secondary-color) !important;
}

.search-results-wrap {
  background-color: var(--primary-color) !important;
}

.wrapper-29NfPK {
  background-color: var(--quaternary-color) !important;
}


/* 9. Friends List */
#friends {
  background-color: var(--primary-color) !important;
}



/* 10. Games Tab */
.activityFeed-28jde9 {
  background: var(--primary-color) !important;
}



/* 11. Popouts */
.themedPopout-25DgLi {
  background-color: var(--primary-color) !important;
}

.popout-3sVMXz .themedPopout-25DgLi .header-SsaQ8X {
  background-color: var(--quaternary-color) !important;
}

.menu-Sp6bN1 {
  background: var(--primary-color) !important;
}

.container-2x5lvQ header {
  background-color: var(--quaternary-color) !important;
}

.container-2x5lvQ section,
.reactors-Blmlhw {
  background-color: var(--primary-color) !important;
}

.sidebar-1-SQro {
  background-color: var(--quaternary-color) !important;
}




/* 12. Modals */
.topSectionNormal-2-vo2m {
  background-color: var(--quaternary-color) !important;
}

.keyboardShortcutsModal-3piNz7,
.incomingCallInner-2VmFiR {
  background-color: var(--primary-color) !important;
}

.quickswitcher-3JagVE {
  background-color: var(--primary-color) !important;
}

.need-help-modal .header h1::after {
  left: -65px;
}

.footer-2yfCgX {
  background-color: var(--secondary-color) !important;
}


/* 13. Games Tab, Library, and Store */
.gameLibrary-TTDw4Y {
  background-color: var(--primary-color) !important;
}

.missingAccess-3szpts {
  background-color: var(--primary-color) !important;
}