/* popin with pulse */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="254362351170617345"]:hover:before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="172426681800196096"]:hover:before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="96563253466898432"]:hover:before {
  animation: mentionpulse 1.5s infinite, popoutanim .2s;
}


/* popin */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="213220786805145600"]:hover:before {
  animation: popoutanim .2s;
}

/* fall and bounce */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="282138006738042880"]:hover:before {
  animation: fallBounce 1s;
}

/* spin in */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="173177738914562048"]:hover:before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="130875493850284032"]:hover:before {
  animation: scaleSpin .4s;
}

/* fade from right */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="244363360886325248"]:hover:before {
  animation: fadeFromRight .2s;
}



/* ---- keyframes ---- */
@keyframes fallBounce { /* 1s */
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  25% {
    opacity: 1;
    transform: translateY(0) scale(1.1, 0.9);
  }
  50% {
    transform: translateY(-20%) scale(0.9, 1.1);
  }
  75% {
    transform: translateY(0)
  }
}

@keyframes scaleSpin { /* .4s */
  from {
    transform: scale(0) rotate(360deg);
  }
  to {
    transform: scale(1) rotate(0);
  }
}
