.guilds-wrapper,
.guilds-wrapper .guild.guilds-add::before,
.guilds-wrapper .guild .friends-icon {
  width: 4px !important;
  transition: all .5s ease-in-out;
  transition-delay: 0 !important;
}

.friends-icon {opacity: 0;}

.guilds-wrapper:hover .friends-icon {opacity: 1}

.guilds-wrapper .guild.guilds-add::after {
  transform: scale(0) !important;
  margin-left: -25px !important;
  transition: all .5s ease-in-out;
}

.guilds-wrapper .guilds .guild.unread::before,
.guilds-wrapper .guilds .guild.selected::before,
.guilds-wrapper .unread-mentions-indicator-bottom, 
.guilds-wrapper .unread-mentions-indicator-top {
  opacity: 0;
  transition: all .2s ease-in-out;
  transition-delay: 0 !important;
}

.guilds-wrapper:hover,
.guilds-wrapper:hover .guild.guilds-add::before,
.guilds-wrapper:hover .guild:first-child .friends-icon {
  width: var(--list-size) !important;
}

.guilds-wrapper:hover .guild.guilds-add::after {
  transform: scale(1) !important;
}

.guilds-wrapper:hover .guilds .guild.unread::before,
.guilds-wrapper:hover .guilds .guild.selected::before,
.guilds-wrapper:hover .unread-mentions-indicator-bottom, 
.guilds-wrapper:hover .unread-mentions-indicator-top {
  opacity: 1;
  transition: all .5s ease-in-out;
}