.guildsWrapper-5TJh6A,
.guildsWrapper-5TJh6A .guild-1EfMGQ.guildsAdd-21_IdK::before,
.guildsWrapper-5TJh6A .guild-1EfMGQ .homeIcon-1FoKUJ {
  width: 4px !important;
  transition: all .5s ease-in-out;
  transition-delay: 0 !important;
}

.homeIcon-1FoKUJ {opacity: 0;}

.guildsWrapper-5TJh6A:hover .homeIcon-1FoKUJ {opacity: 1}

.guildsWrapper-5TJh6A .guild-1EfMGQ.guildsAdd-21_IdK::after {
  transform: scale(0) !important;
  margin-left: -25px !important;
  transition: all .5s ease-in-out;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr::before,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq::before,
.guildsWrapper-5TJh6A .unread-mentions-indicator-bottom, 
.guildsWrapper-5TJh6A .unread-mentions-indicator-top {
  opacity: 0;
  transition: all .2s ease-in-out;
  transition-delay: 0 !important;
}

.guildsWrapper-5TJh6A:hover,
.guildsWrapper-5TJh6A:hover .guild-1EfMGQ.guildsAdd-21_IdK::before,
.guildsWrapper-5TJh6A:hover .guild-1EfMGQ:first-child .homeIcon-1FoKUJ {
  width: var(--list-size) !important;
}

.guildsWrapper-5TJh6A:hover .guild-1EfMGQ.guildsAdd-21_IdK::after {
  transform: scale(1) !important;
}

.guildsWrapper-5TJh6A:hover .guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr::before,
.guildsWrapper-5TJh6A:hover .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq::before,
.guildsWrapper-5TJh6A:hover .unread-mentions-indicator-bottom, 
.guildsWrapper-5TJh6A:hover .unread-mentions-indicator-top {
  opacity: 1;
  transition: all .5s ease-in-out;
}