/* Revert TitleBar */

div[class*="titleBar-"] {
  height: 0px;
  margin-top: 0px !important;
}

div[class*="titleBar-"]:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 6px;
  height: 14px;
  z-index: 3002;
  -webkit-app-region: drag !important;
}

div[class*="titleBar-"]:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 6px;
  z-index: 3002 !important;
}

div[class*="wordmark-"], div[class*="winButton-"] svg {
  display: none !important;
}

div[class*="winButton-"] {
  top: 9px;
  height: 30px;
  width: 30px;
  right: 8px;
  background-position: center;
  opacity: .6;
  transition: .2s ease !important;
}

div[class*="winButton-"]:hover {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: var(--hover-color) !important;
  border-radius: 3px;
  opacity: 1 !important;
}

div[class*="titleBar-"] div:nth-of-type(2) {
  background-image: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/close.svg) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px !important;
}

div[class*="titleBar-"] div:nth-of-type(3) {
  background-image: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/fullscreen.svg) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px !important;
}

div[class*="titleBar-"] div:nth-of-type(4) {
  background-image: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/remove.svg) !important;
  background-repeat: no-repeat;
  background-position: center 7px;
  background-size: 24px !important;
}

.chat [class*='titleWrapper-'] [class*='flex-'] [class*='flex-'], #friends [class*='flex-'] [class*='flex-']:last-of-type, [class*='activityFeed-'] [class*='flex-'] [class*='flex-']:last-of-type {
  margin-right: 98px !important;
}

.chat [class*='titleWrapper-'] [class*='flex-'] [class*='flex-']:after, #friends [class*='flex-'] [class*='flex-']:last-of-type:after, [class*='activityFeed-'] [class*='flex-'] [class*='flex-']:last-of-type:after {
  content: '';
  width: 1px;
  height: 22px;
  background-color: hsla(240, 6%, 97%, .1) !important;
}

div[class*="titleBar-"] {
  transform: translateY(-6px);
}

div[class*="winButton-"] {
  height: 36px !important;
}

.title-3qD0b- {
  background: var(--primary-color);
  box-shadow: 0px 0px transparent;
  border-bottom: 2px solid var(--main-color);
}

.title-3qD0b-, 
.titleCall-_b9o8P {
  height: 46px;
}

.topic-2QX7LI:before {
  display: none;
}

.search .search-bar {
  background-color: var(--quaternary-color);
  height: 46px;
  width: 170px;
  border-radius: 0px;
}

.search .DraftEditor-root {
  line-height: 39px;
}

.search .DraftEditor-root .public-DraftEditorPlaceholder-root {
  color: #cecece !important;
  padding-left: 17px;
}

.search .search-bar .icon {
  top: 13px;
  right: 9px;
}

.search .search-bar-icon {
  width: 35px;
  background-color: var(--secondary-color);
}

.divider-2PMBlV {
  display: none;
}

.headerBar-UHpsPw {
  box-shadow: 0px 0px transparent !important;
  background: var(--primary-color) !important;
  border-bottom: 2px solid var(--main-color);
  height: 46px !important;
}

.activityFeed-28jde9 {
  background: var(--primary-color) !important;
}

.popoutBottom-1YbShG.noShadow-321ZPm{
  margin-top: 0px !important;
}

.popoutBottom-1YbShG {
  margin-top: -22px !important;
}

.header-2o-2hj .name-3YKhmS {
  position: relative !important;
  left: 2% !important;
}

.chat:not(.private) .channelName-3stJzi {
  position: relative !important;
  left: 1% !important;
}

.guilds-wrapper .guilds>div.guild:first-child {
  margin-top: -48px;
  width: 70px;
  margin-left: -10px;
  border-bottom: 2px solid var(--main-color);
  position: absolute;
  z-index: 2;
}

.guilds-wrapper .guilds>div.guild:first-child .guild-inner a {
  height: 46px;
}

.guilds-wrapper .guilds>div.guild:first-child {
  height: 46px;
}

.guilds-wrapper .guilds>div.guild:first-child .guild-inner {
  background-color: var(--quaternary-color) !important;
  border-radius: 0px !important;
}

.guilds-wrapper .guilds>div.guild:first-child .guild-inner a, 
.guilds-wrapper .guilds>div.guild:first-child .home-icon {
  width: 70px;
}

.notice-3I4-y_, .notice-2FJMB4 {
  top: 46px !important;
}