.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ {
  height: 46px !important;
  width: 46px !important;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .avatar-small {
background-size: 46px 46px !important;
background-position: center !important;
}

.guild-wrapper {
  width: 84px !important;
}