/*Two column server list*/
.guildsWrapper-5TJh6A{width: 140px;}
.theme-dark .guildsWrapper-5TJh6A  .scroller-wrap .scroller::-webkit-scrollbar {
  background: transparent !important; border: 0px !important;
  width: 0px;
}

.guildsWrapper-5TJh6A .scroller-wrap{width:140px !important;}

.guildsWrapper-5TJh6A .guilds-1q_RqH,
.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV {
    display: flex !important;
    flex-direction: row !important;
    flex-flow: row wrap !important;
    justify-content: space-evenly;
    padding-left: 0;
    align-content: flex-start;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ,
.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV .guild-1EfMGQ {
    margin-left: 4px;
    margin-right: 4px; 
    margin-top: 8px;
    float: left;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ:first-child {
    position: auto ;
    left: 0;
    margin: auto ;
    margin-top: 20px;
    width: 140px ;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV .guild-1EfMGQ:first-child {
    margin-left: 4px !important;
    margin-right: 4px !important;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV .guild-1EfMGQ:first-child {
  margin-top: 8px !important;
  width: 50px !important;
  overflow: visible;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr:before {
    left: 0px;
    top: 0px;
    margin-top: 0;
    z-index:9000;
    background-color: var(--main-color);
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr:hover:before {
    height: 10px;
    top: 0px;
    margin-top: 0px;
    border-radius: 50%;
    background-color: #ccc !important;
    box-shadow: 0 0 5px #ccc !important;
  }

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ:first-child {
    position: flex-start ; 
    left: 0;
    margin: auto;
    margin-top: 15px;
    width: 140px !important;
}

#bd-pub-li {
    position: inherit;
    top: 0;
    left: 0;
    margin-right: 50px;
    margin-left: 40px;
}

#bd-pub-li #bd-pub-button {
    position: relative;
    width: 100%;
    text-align: center;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guildSeparator-1X4GQ1 {
    position: relative;
    width: calc(100% - 8px);
    margin-top: 0px;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .friendsOnline-_wi_fM {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 33px;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq:before {
    display: none;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ {
    position: relative;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV {
    width: 140px !important;
    display: flex;
    flex-flow: row wrap;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV .guild-1EfMGQ {
    left: 0;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ:first-child .homeIcon-1FoKUJ {
  margin-left: 0px !important;
  width: 140px !important;
}

.guildsWrapper-5TJh6A .guild-1EfMGQ.guildsAdd-21_IdK {
  margin-left: 30px !important;
}

.guildsWrapper-5TJh6A .guild-1EfMGQ.guildsAdd-21_IdK::before {
  width: 140px;
}

/* optimized for server folders */
.foldercontainer {
    position: absolute;
    top: 116px;
    left: 130px;
    background-color: var(--quaternary-color);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.guildsWrapper-5TJh6A.folderopen,
.guildsWrapper-5TJh6A.folderopen .scroller-wrap,
.guildsWrapper-5TJh6A.folderopen .guilds-1q_RqH {
    width: 140px;
}