:root {
	--size: 70%;
}

.tools .btn-close, .tools .esc-text {position: fixed;}

.layer-3QrUeG:nth-child(1) {
    animation: none !important;
	transition: none !important;
	opacity: 1 !important;
	transform: none !important;
}

.layer-3QrUeG[layer-id*="user-setting"] {
	background-color: rgba(0,0,0,0.8) !important;
	z-index: 101 !important;
}

.layer-3QrUeG[layer-id*="user-setting"] .ui-standard-sidebar-view {
	max-height: var(--size);
	max-width: var(--size);
	top: calc( (100% - var(--size))/2);
	left: calc( (100% - var(--size))/2);
}

.theme-dark .ui-standard-sidebar-view,
.theme-dark .ui-standard-sidebar-view .sidebar-region {
    background: transparent;
}

.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.ui-standard-sidebar-view .content-region,
.scroller-2FKFPG.content-region-scroller {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.layer-3QrUeG[layer-id*="user-setting"] .ui-standard-sidebar-view::before {
    content: '';
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    background-image: var(--popup-background);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.scroller-2FKFPG.content-region-scroller{
    background-color: var(--primary-color) !important;
}

/* light theme */
.theme-light .ui-standard-sidebar-view {
  background: transparent !important;
}
