//META{"name":"Quiet","description":"Dark and Quiet. Easy on the eyes.","author":"Omni (edited by Ellexide Codes)","version":"3.0"}*//

/* IMPORT CSS FROM GITHUB */
@import url(https://ellexidecodes.github.io/Discord-Themes/css/quiet.css);
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE DISCORDS THEME TO DARK THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!
---------------------------------------------------------------------------------------------------------------------------------------------
===== CUSTOMIZABLE COLORS =====
*/
:root { 
 --main-color: #8d2036;
 --hover-color: #6f182a;
 }

/*
---------------------------------------------------------------------------------------------------------------------------------------------
TROUBLESHOOTING: IF YOU NEED ANY HELP GO TO https://discord.gg/g7nf298
---------------------------------------------------------------------------------------------------------------------------------------------
*/ 