.popouts-3dRSmE {
  left: 0;
  right: 0;
  top: 0;
  z-index: auto
}

.popout-3sVMXz,
.popouts-3dRSmE {
  position: absolute
}

.popout-3sVMXz {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .82), 0 1px 4px rgba(0, 0, 0, .1);
  -webkit-filter: blur(0);
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, .82), 0 1px 4px rgba(0, 0, 0, .1);
  contain: layout;
  padding: 0;
  z-index: 1000
}

.popout-3sVMXz header {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  background-color: rgba(115, 139, 215, .98);
  border-radius: 3px 3px 0 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  padding: 13px;
  position: relative;
  text-transform: uppercase
}

.popout-3sVMXz header:before {
  border: 8px solid transparent;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0
}

.popout-3sVMXz header:last-child {
  border-radius: 3px
}

.popout-3sVMXz section {
  background-color: hsla(0, 0%, 100%, .98);
  border-radius: 0 0 3px 3px;
  padding: 20px
}

.popout-3sVMXz section:after,
.popout-3sVMXz section:before {
  border: solid transparent;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0
}

.popout-3sVMXz section:before {
  border-width: 10px
}

.popout-3sVMXz section:after {
  border-width: 8px
}

.popout-3sVMXz p {
  color: #8a8e94;
  font-size: 14px;
  margin: 0 0 20px
}

.noShadow-321ZPm {
  -webkit-box-shadow: none;
  box-shadow: none
}

.popoutLeft-30WmrD {
  margin-top: -20px
}

.popoutLeft-30WmrD header:before {
  left: 100%;
  top: 50%
}

.popoutLeft-30WmrD header:before {
  border-left-color: #7289da;
  margin-top: -8px
}

.popoutLeft-30WmrD.noArrow-3BYQ0Z {
  margin-right: 10px
}

.popoutRight-2ZVwL- {
  margin-top: -20px
}

.popoutRight-2ZVwL- header:before {
  right: 100%;
  top: 50%
}

.popoutRight-2ZVwL- header:before {
  border-right-color: #7289da;
  margin-top: -8px
}

.popoutRight-2ZVwL-.noArrow-3BYQ0Z {
  margin-left: 10px
}

.popoutBottom-1YbShG,
.popoutBottomLeft-JehOp2,
.popoutBottomRight-2JrySt {
  margin-top: 14px
}

.popoutBottom-1YbShG header:before,
.popoutBottomLeft-JehOp2 header:before,
.popoutBottomRight-2JrySt header:before {
  bottom: 100%;
  left: 50%
}

.popoutBottom-1YbShG header:before,
.popoutBottomLeft-JehOp2 header:before,
.popoutBottomRight-2JrySt header:before {
  border-bottom-color: #7289da;
  margin-left: -8px
}

.popoutBottom-1YbShG.noArrow-3BYQ0Z,
.popoutBottomLeft-JehOp2.noArrow-3BYQ0Z,
.popoutBottomRight-2JrySt.noArrow-3BYQ0Z {
  margin-top: 10px
}

.popoutTop-3uu9vG,
.popoutTopRight-3BzFIE {
  margin-top: -14px
}

.popoutTopRight-3BzFIE section:before,
.popoutTop-3uu9vG section:before {
  border-top-color: rgba(0, 0, 0, .08);
  left: 50%;
  margin-left: -10px;
  top: 100%
}

.popoutTopRight-3BzFIE section:after,
.popoutTop-3uu9vG section:after {
  border-top-color: #fff;
  left: 50%;
  margin-left: -8px;
  top: 100%
}

.popoutTop-3uu9vG.noArrow-3BYQ0Z,
.popoutTopRight-3BzFIE.noArrow-3BYQ0Z {
  margin-bottom: 10px
}

.popoutTopLeft-b5Eb3O {
  margin-top: -14px
}

.popoutTopLeft-b5Eb3O section:before {
  border-top-color: rgba(0, 0, 0, .08);
  margin-left: -10px;
  right: 50%;
  top: 100%
}

.popoutTopLeft-b5Eb3O section:after {
  border-top-color: #fff;
  margin-left: -8px;
  right: 50%;
  top: 100%
}

.popoutTopLeft-b5Eb3O.noArrow-3BYQ0Z {
  margin-bottom: 10px
}

.popoutInvert-3UdKhn:not(.popoutBottom-1YbShG)>* {
  -ms-flex-direction: column-reverse;
  -webkit-box-direction: reverse;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column-reverse
}

.popoutInvert-3UdKhn:not(.popoutBottom-1YbShG) header {
  border-radius: 0 0 3px 3px
}

.popoutInvert-3UdKhn:not(.popoutBottom-1YbShG) section {
  border-radius: 3px 3px 0 0
}

.popoutInvert-3UdKhn:not(.popoutBottom-1YbShG).popoutTop-3uu9vG,
.popoutInvert-3UdKhn:not(.popoutBottom-1YbShG).popoutTopRight-3BzFIE {
  margin-top: -14px
}

.popoutInvert-3UdKhn:not(.popoutBottom-1YbShG).popoutTop-3uu9vG header:before,
.popoutInvert-3UdKhn:not(.popoutBottom-1YbShG).popoutTopRight-3BzFIE header:before {
  border-top-color: #7289da;
  left: 50%;
  margin-left: -8px;
  top: 100%
}

.popoutInvert-3UdKhn:not(.popoutBottom-1YbShG).popoutTopRight-3BzFIE section:after,
.popoutInvert-3UdKhn:not(.popoutBottom-1YbShG).popoutTop-3uu9vG section:after {
  visibility: hidden
}

.noArrow-3BYQ0Z header:before {
  display: none
}

.themedPopout-25DgLi {
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 10%);
  -webkit-box-sizing: border-box;
  background-color: #fff;
  border: 1px solid hsla(0, 0%, 75%, .3);
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column
}

.themedPopout-25DgLi .header-SsaQ8X {
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 10%);
  border-radius: 5px 5px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
  z-index: 1
}

.themedPopout-25DgLi .header-SsaQ8X .title-23FrqZ {
  color: #737f8d;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px
}

.themedPopout-25DgLi .header-SsaQ8X .subtitle-37ivwK {
  color: rgba(115, 127, 141, .3);
  font-size: 13px;
  font-weight: 400
}

.themedPopout-25DgLi .footer-SRC48P {
  background-color: rgba(153, 170, 181, .1);
  border-radius: 0 0 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  text-align: center
}

.themedPopout-25DgLi .footer-SRC48P .tip-2WErbi .body-1CHPZz {
  color: hsla(0, 0%, 100%, .6)
}

/*# sourceMappingURL=141.bea37d80d07eb8581ba4.css.map*/