:root {
  --roundness: 5px;
}

#app-mount .mask-3OgeRz {
  mask: none;
  -webkit-mask: none;
}

.guild-1EfMGQ .guildIcon-CT-ZDq,
.guilds-1q_RqH .guildPlaceholder-1ioaid,
.dragPlaceholder-D9-haY,
.wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN .container-2td-dC,
.guildsWrapper-5TJh6A .guild-1EfMGQ.guildsAdd-21_IdK::after,
.container-2td-dC.audio-2KA0-x::after,
.container-2td-dC.video-2jNDI4::after,
.wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN .circleIconButton-jET_ig svg,
.wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN .circleIconButton-jET_ig span,
.dragfix-1wSxtO:active,
.container-2td-dC .wrapper-2lTRaf,
.friendsTable-133bsv .friends-column.friends-column-guilds .icon-3o6xvg,
.status-oxiHuE,
.image-33JSyf,
.avatar-small,
.avatar-xxlarge,
.wrapper-2F3Zv8,
.status-oxiHuE.typing-1KJk_j .pulsingEllipsisItem-32hhWL,
.avatarHint-1qgaV3,
.partyMemberOverflow-3VhFIX .partyMemberBackground-aSF9mc,
.listRow-hutiT_ .listAvatar-1NlAhb,
.avatar-uploader-inner,
.avatarUploaderIndicator-2G-aIZ,
.avatarDefault-35WC3R,
.avatarSpeaking-1wJCNq,
.callAvatar-v-u4BM.voice-2D-tt_,
.callAvatar-v-u4BM .callAvatarStatus-3y6S04,
.callAvatarBorder-1D_KaE.voice-2D-tt_.speaking-oCqYMI,
.callAvatarWrapper-TICyxO.voice-2D-tt_ .ripple-16ZT2p,
.from-mPWN2E, 
.to-2819fF,
.friendsTable-133bsv .friendsRow-2yicud .friends-column-guilds .more-mutual-guilds-btn,
.reviewCircle-1o-MOB,
.circle-1nK_79,
.guild-1EfMGQ.audio-3vVhBi:after, 
.guild-1EfMGQ.video-15yGu3:after,
.inner-1W0Bkn,
.iconInactive-98JN5i,
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnGuilds-2we6jb .moreMutualGuildsBtn-2VwbkO,
.guildIconEmptyBackground-14tfYf,
.guildsError-3cFMtY,
.avatar-large, 
.avatar-profile, 
.avatar-small, 
.avatar-xlarge, 
.avatar-xsmall, 
.avatar-xxlarge,
.avatarUploaderInner-3UNxY3,
.icon-3o6xvg,
.gameIcon-gg34Dz,
#app-mount .partyMember-923s4S,
#app-mount .partyMemberOverflow-Nei5T6,
.moreUsers-1s5Her,
.playerOverflow-3X56UI,
.playerOverflow-2Hf77M,
.voiceSectionIconWrapper-3YFjHm,
.voiceSectionGuildImage-2r1uIp, 
.voiceSectionNoGuildImageWrapper-40qwqb,
.circleIconButton-jET_ig {
  border-radius: var(--roundness) !important;
}